<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <!-- PROD -->
    <!--<add key="CrmService.Url" value="https://xxxxxx.xxxx.com/xxxxx/XRMServices/2011/Organization.svc" />
    <add key="CrmService.OrganizationName" value="Climb" />-->
    
    <!--<add key="CrmService.Url" value="https://xxxxxx.xxxx.com/xxxxx/XRMServices/2011/Organization.svc"/>
    <add key="CrmService.OrganizationName" value="OnlineInvest"/>
    
    <add key="CrmService.UseDefaultCredentials" value="true"/>-->

    <!-- DEV -->
    <!--<add key="CrmService.Url" value="http://w00355dapp0:5555/xxxxx/XRMServices/2011/Organization.svc"/>
    <add key="CrmService.OrganizationName" value="xxxxx"/>
    <add key="CrmService.UseDefaultCredentials" value="false"/>
    <add key="CRM_User" value="114.92.169.128.74.135.112.65.3.250.255.131.173.251.105.65.84.81.210.246.72.66.151.171.80.214.224.169.105.84.90.22"/>
    <add key="CRM_UserPassword" value="226.107.111.61.80.193.222.79.40.176.186.81.7.216.229.249"/>
    <add key="CRM_UserBanco" value="119.61.209.18.124.204.77.62.94.7.208.180.208.3.108.181.56.154.17.36.121.24.88.160.121.125.115.61.210.39.242.58"/>
    <add key="CRM_PassBanco" value="119.61.209.18.124.204.77.62.94.7.208.180.208.3.108.181.56.154.17.36.121.24.88.160.121.125.115.61.210.39.242.58"/>-->

    <!-- UAT -->
    <!--<add key="CrmService.Url" value="https://xxxx-uat.xxxx.net/xxxxx/XRMServices/2011/Organization.svc"/>
    <add key="CrmService.OrganizationName" value="xxxxx"/>
    <add key="CrmService.UseDefaultCredentials" value="false"/>
    <add key="CRM_User" value=""/>
    <add key="CRM_UserPassword" value=""/>
    <add key="CRM_UserBanco" value="119.61.209.18.124.204.77.62.94.7.208.180.208.3.108.181.56.154.17.36.121.24.88.160.121.125.115.61.210.39.242.58"/>
    <add key="CRM_PassBanco" value="119.61.209.18.124.204.77.62.94.7.208.180.208.3.108.181.56.154.17.36.121.24.88.160.121.125.115.61.210.39.242.58"/>-->

    <add key="CrmService.Credentials.Key_16Bytes" value="1111111111111111"/>
    <add key="CrmService.Credentials.Key_32Bytes" value="22222222222222222222222222222222"/>
    <add key="CRM_UserDomain" value="domain"/>
    <add key="CsvFullPath" value="C:\Get_Temp\import.csv"/>
    <add key="ErrorLogFullPath" value="C:\Get_Temp\error.log"/>
    <add key="BatchSize" value="50"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="OrganizationName" value="xx" />
    <add key="url" value="https://xxx.crm2.dynamics.com" />
    <add key="username" value="114.92.169.128.74.135.112.65.3.250.255.131.173.251.105.65.12.241.84.142.212.71.201.144.87.219.123.125.242.132.28.184" />
    <add key="password" value="226.107.111.61.80.193.222.79.40.176.186.81.7.216.229.249" />
    <add key="domain" value="domain" />
    <add key="AuthType" value="Office365" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
